body {
  margin: 0;
}

.body {
  min-height: calc(100vh - 160px);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: Verdana;
}

input, input:focus{
  box-sizing: border-box;
  padding:10px;
  border-radius:10px;
  border-color: grey;
  border-style: solid;
}
textarea, textarea:focus{
  border: 2px;
  box-sizing: border-box;
  padding:10px;
  border-radius:10px;
  border-color: grey;
  border-style: solid;
}