.segment {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
.segment ul {
    list-style: none;
}
.form{
    background-color: rgba(94, 153, 255, 0.096);
    width: fit-content;
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.property{
    background-color: rgb(205, 214, 243);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.listing ul{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    background-color: rgb(222, 230, 255);
}
.listing p{
    text-align: right;
}

.listing h4{
    margin-bottom: 5px;
    width: fit-content;
    display: inline-block;
}
.listing h6{
    margin-top: 0px;
    margin-left: 25px;
    width: fit-content;
    display: inline-block;
}
.listing h5{
    margin-bottom: 5px;
    margin-left: 25px;
    width: fit-content;
    display: inline-block;
}

.listing li{
    list-style: none;
    color: black;
}
.listing:link{
    text-decoration: none;
}
.listing:visited { 
    text-decoration: none; 
}
.listing:hover { 
    text-decoration: none; 
}
.listing:active { 
    text-decoration: none; 
}

.back{
    width: fit-content;
}

/* Dropdown button */
.dropbtn {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
/* Dropdown content (hidden by default) */
.dropdowncontent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(234, 241, 255);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}
  
/* Links inside the dropdown */
.dropdowncontent div {
    float: none;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 5px 5px;
}
  
/* Show the dropdown menu on hover */
.showdrop:hover .dropdowncontent {
    display: block;
}